<div class="container">
  <div class="row justify-content-center mt-5">
    <h5><span class="font-weight-bold">本当に退会しますか？</span></h5>
  </div>

  <div class="row justify-content-center mt-4">
    <p class="text-center">
      退会すると、会員登録情報や<br>
      これまでの購入履歴が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。
    </p>
  </div>
  <div class="row justify-content-center">
    <%= link_to "退会しない", customers_my_page_path, class: "col-2 py-2 mx-3 btn btn-sm btn-primary"%>
    <%= link_to "退会する", customers_withdrawl_path, method: :patch, "data-confirm" => "本当に退会しますか？", class: "col-2 py-2 mx-3 btn btn-sm btn-danger"%>
  </div>
</div>