public/about
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>About</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <h3>
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </h3>
    </div>
    <div class="row">
      <!--　画像に下のclassを追加-->
      <div class="mx-auto d-block bg-secondary">image</div>
    </div>
  </div>

</div>