public/about
<div class="container">
  <div class="row">
    <div class="col-12 text-center my-4">
      <h1><strong>About</strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <h3>
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </h3>
    </div>
  </div>
  <div class="row">
      <%= image_tag '142_refileDownloadImage.png', size: '400x300', class: "d-block mx-auto" %>
  </div>
</div>