public/topページ
<div class="container-fulled">
  <div class="row">
    <div class="col-3 ml-5 mr-3 bg-secondary">ジャンル検索</div>
    <div class="col-8 bg-secondary">
      <div class="row">
        <p>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>
      <div class="row">
        <h3>新着商品</h3>
      </div>
      <div class="row">
        <div class="col">image</div>
        <div class="col">image</div>
        <div class="col">image</div>
        <div class="col">image</div>
      </div>
      <div class="row">
        <div class="col text-right"></div>
        全ての商品を見る
      </div>
    </div>
  </div>

</div>