@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.jumbotron{
  background-image: url('../images/mv.jpg');
  background-size: cover;
  background-position: center 60%;
}