public/order/complete
<div class="container" style="height: 400px;">
  <div class="row mt-5 pt-5">
    <div class="mt-5 mx-auto">
      <h5><strong>ご注文ありがとうございました！</strong></h5>
    </div>
  </div>
</div>